{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h1>Все посты</h1>
<h3>{{ time_now|date:'M d Y' }}</h3> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты. С его помощью мы можем выводить дату в нужном нам формате -->
<h3> {{ value1|default_if_none:"ничего" }} </h3> <!-- Здесь, если в переменной value1 будет записано None, то выведется текст НИЧЕГО -->
<hr>
{% if post %} <!-- Если есть посты, то выводим таблицу с ними -->
<table>
    <tr>
        <td>
            Автор
        </td>
        <td>
            Категория
        </td>
        <td>
            Заголовок
        </td>
        <td>
            Содержание
        </td>
        <td>
            Дата
        </td>
    </tr>
        {% for post in posts %}
        <!-- Для каждого поста будете генерироваться новая строчка, т. е. новый html-код. При этом сам цикл работает точно также, как и в Python. post — переменная цикла, т. е. наш пост, взятый из общего списка -->
    <tr>
        <td>
            {{ post.author.authorUser }}
        </td>
        <td>
            {{ post.category.name }}
        </td>
        <td>
            {{ post.title|multiply:4 }} <!-- применим наш фильтр, чтобы название товара вывелось 4 раза -->
        </td>
        <td>
            {{ post.text|truncatewords:2 }}
            <!-- не забываем, что переменные в шаблоне ничем не отличаются от переменных в Python. Здесь также можно получать доступ к полям класса. Например, здесь мы выводим имя, в следующем столбце описание, и т. д.  -->
        </td>
        <td>
            {{ post.dateCreation }}
        </td>
    </tr>
        {% endfor %}
</table>
{% else %}
<h2>Статей нет!</h2>
{% endif %}
{% endblock content %}